<div class="foot"> 
  <div class="footlinks">
    <div class="socialicons">
    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/home?lang=en" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    <a href="https://www.reddit.com/" class="fa fa-reddit"></a>
    <a href="https://play.google.com/store/apps/details?id=com.snapchat.android&hl=en&gl=US" class="fa fa-snapchat-ghost"></a>
    <a href="https://www.pinterest.com.au/" class="fa fa-pinterest"></a>
    <a href="https://www.google.com/" class="fa fa-google"></a>
    <a href="https://in.linkedin.com/" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
    </div>
    <div class="buttonsalt">
      <button class="x" routerLink="/statistics" matTooltip="Mental Health & Statistics">MHS</button>
      <button class="x" routerLink="/top10" matTooltip="Top Counsellors & Psychiatrists">TCP</button>
      <button class="x" routerLink="/liverss" matTooltip="Live Rss & Articles">LRA</button>
      <button class="x" routerLink="/" matTooltip="ChatBot">CB</button>
      <button class="x" routerLink="/" matTooltip="EmotionCapture">EC</button>
      <button class="x" routerLink="/selfcare" matTooltip="Self Care Tips">SCT</button>
      <button class="x" routerLink="/mindpalace" matTooltip="Mind Palace">MP</button>
      <button class="x" routerLink="/disorders" matTooltip="Disorders">DO</button>
    </div>
  </div>
  <div class="address">
    <p class="addresstext">Christ University ,Hosur Rd, Bhavani Nagar, S.G. Palya, Bengaluru, Karnataka 560029</p>
  </div>
  <div class="copyright">
    <p class="copyrighttext">
        Copyright &#174; 2020 Care2Cure
    </p>
  </div>
</div>