<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="banner-breadcum section">
<div class="row">
		<div class="breadcrumb-image" style="background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-olive-oil-skin-care-essential-oil-banner-background-image_232190.jpg);">
    <div class="container text-center">
      <img class="bgimg" src="../assets/Care2Cure1.png">
        <h1>About Care2Cure</h1>  
    </div>
</div>
  </div>
  <div class="row">
    </div>
</div>