<mat-dialog-content class="modaldeprtypes">
<div class="deprtypes" fxLayout="column" fxLayoutAlign="space-between">
  <div class="deprtypeclass">
  <img class="pics" src="../assets/manicdepression.png">
  <label><h4>MANIC DEPRESSION DISORDER</h4></label>
  <p>Bipolar Depression tends to fluctuate between extreme bouts of manic mood disorders. Symptoms include – overly inflated self-esteem, insomnia, increased talkativeness, racing thoughts, distractibility, increased goal-directed activity or physical agitation and excessive involvement in highly painful activities.</p>
</div>
<div class="deprtypeclass">
  <img class="pics" src="../assets/psychoticdepression.png">
  <label><h4>PYSCHOTIC DEPRESSION </h4></label>
  <p>Don’t be afraid if you are experiencing severe depression along with some form of psychosis like delusion (false beliefs), hallucination (seeing or hearing things that aren't there) or paranoia (wrongly believing that others are trying to harm you). It is completely curable with time and proper treatment.</p>
  </div>
  <div class="deprtypeclass">
  <img class="pics" src="../assets/secondarydepression.png">
  <label><h4>SECONDARY DEPRESSION </h4></label>
  <p>Did you suffer or recover from hypothyroidism, stroke, Parkinson's disease, AIDS or a psychiatric problem such as schizophrenia, panic disorder or bulimia? The emotional and physical duress during these illnesses makes you more receptive to depression.</p>
  </div>
    <div class="deprtypeclass">
      <img class="pics" src="../assets/postpartum.png">
      <label><h4>POSTPARTUM DEPRESSION </h4></label>
      <p>Mostly experienced by women after giving birth, this form of depression is different from the normal “baby blues”. Massive hormonal and physical changes coupled with the responsibility of a newborn can be overwhelming for some mothers. Almost 10-15% of women experience postpartum depression.</p>
      </div>
      <div class="deprtypeclass">
        <img class="pics" src="../assets/simd.png">
        <label><h4>SIMD </h4></label>
        <p>Substance-Induced Mood Disorder. It’s a given that certain drugs have the potential to gravely affect your mental health. The adverse effects of these drugs can result in manic or chronic depression.</p>
        </div>
        <div class="deprtypeclass">
          <img class="pics" src="../assets/seasonaldepression.png">
          <label><h4>SEASONAL DEPRESSION </h4></label>
          <p>Experienced during winter due to the lack of natural sunlight, it generally lifts at the onset of spring or summer. If you happen to go through such symptoms, light therapy with antidepressants and psychotherapies will help in lifting the gloom.</p>
          </div>
          <div class="deprtypeclass">
            <img class="pics" src="../assets/maskeddepression.png">
            <label><h4>MASKED DEPRESSION </h4></label>
            <p>This form of depression is often masked by physical ailments for which no organic cause can be determined.</p>
           </div>
</div>
</mat-dialog-content>