
<mat-toolbar class="dashboardhead mat-elevation-z4">

  <div class="logocontent">
    <img src="../assets/carelogo.png">
  </div>
  <div class="headercontent">
    <span class="subcontent1">SELF CARE TIPS FOR EVERYONE</span>
    <p class="subcontent2">Your Health Is Our Priority</p>
  </div>
</mat-toolbar>
<mat-tab-group mat-align-tabs="end" [color]="primary" [backgroundColor]="primary">
  <mat-tab label="Self Care Tips" style="color: black; font-weight: bold;">
    <div class="contentx">
      <mat-card class="carddata"> Start with yourself. Take better care of yourself.</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Listen to you body, Follow what they want. Groom yourself. Listen to your senses.
      </mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Take a deep breath. Heavy, deep breathing. Meditate.</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Look at yourself differently in a loving way. Self love</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Pay attention to how you talk to yourself. Stay positive.</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Stay mindful wherever you are. Start finding happiness in little things.</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Work out. Feel better about yourself.</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Take personal timeouts for yourself.</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Make yourself busy, indulge in activities, meet new people</mat-card>
    </div>
    <div class="contentx">
      <mat-card class="carddata"> Get enough sleep, no less, no more. Perfect 7 hours of sleep.</mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Treatment">
  <div class="more">
  <div class="row">
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <h5 class="item-card-title mt-3 mb-3">DEPRESSION TREATEMENT</h5>
        <mat-divider></mat-divider>
          <ol class="card-text">
            <li>  Diagnosis of depression is crucial in order to expedite the healing process.</li><br>
            <li>  Often wrong medication and counselling leads a person experiencing depression to sink further into adverse conditions.</li><br>
            <li>  Getting professional help from a doctor and a mental health expert is the right way to start.</li><br>
            <li>  Treatments shall be initiated depending upon the type and condition of depression that you are being diagnosed with.</li><br>
            <li>  It’s important to remember that involving yourself in ‘talk therapy‘ with your counsellor, letting him or her cross
            the threshold of your emotional resistance is crucial towards the healing process.</li><br>
          </ol>
        
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <h5 class="item-card-title mt-3 mb-3">ANXIETY TREATEMENT</h5>
        <mat-divider></mat-divider>
        <ol class="card-text">
          <li>It’s normal to feel anxious about moving to a new place, starting a new job, or taking a test.</li><br>
          <li>In the case of an anxiety disorder, the feeling of fear may be with you all the time.</li><br>
          <li>This type of anxiety may cause you to stop doing things you enjoy.</li><br>
          <li>Anxiety disorders are the most common form of emotional disorder and can affect anyone at any age.</li><br>
          <li>women are more likely than men to be diagnosed with an anxiety disorder.</li><br>
        </ol>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 item">
      <div class="card item-card card-block">
        <h5 class="item-card-title    mt-3 mb-3">BIPOLAR DISORDER TREATEMENT</h5>
        <mat-divider></mat-divider>
        <ol class="card-text">
          <li>Bipolar disorder is a lifelong condition that runs an unpredictable course of ups and downs.</li><br>
          <li>When left untreated, these ups and downs can be devastating.</li><br>
          <li>The recurring manic and depressive episodes that characterize the disease make it difficult to lead a stable, productivelife.</li><br>
          <li>In the manic phase, you may be hyperactive and irresponsible. In the depressive phase, it may be difficult to do
          anything at all.</li><br>
          <li>Recovering from bipolar disorder doesn’t happen overnight.</li><br>
        </ol>
      </div>
    </div>

  <div class="middle">
      <div class="content">
        <div class="content__container">
          <ul class="content__container__list">
            <li class="content__container__list__item">keeping a positive attitude !</li>
            <li class="content__container__list__item">staying physically active !</li>
            <li class="content__container__list__item">helping other people !</li>
            <li class="content__container__list__item">getting enough sleep!</li>
          </ul>
        </div>
      </div>
  </div>
  <div class="extramore">
  </div>
</div>
</div>
  </mat-tab>
</mat-tab-group>
