/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'styles-variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

.custom-content .mat-dialog-content{
    display:block;
    overflow: hidden;
    max-height: 700px;
}
button:focus {
    outline: none !important;
}



.mat-step-label .mat-step-icon {
    background-color: red !important;
    color: red !important;
    }