<mat-toolbar class="dashboardhead">
  <p>Mind palace</p>
</mat-toolbar>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Happy Glass">
    <iframe src="https://www.gameflare.com/embed/happy-glass/" frameborder="0" scrolling="no" width="800" height="670" 
      allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Stack Colors">
    <iframe src="https://www.gameflare.com/embed/stack-colors/" frameborder="0" scrolling="no" width="800" height="670"
      allowfullscreen></iframe>
  </mat-tab>
  <mat-tab label="Island Survuval 3D">
    <iframe src="https://www.gameflare.com/embed/island-survival-3d/" frameborder="0" scrolling="no" width="800"
      height="670" allowfullscreen></iframe>
  </mat-tab>
</mat-tab-group>

